# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias de producción
/dist
/build
*.tsbuildinfo

# Archivos de configuración de editor
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Entorno de variables
.env
.env.*.local

# Coverage de pruebas
coverage/

# Archivos de la base de datos
*.sqlite
*.db

# Archivos de paquetes temporales
package-lock.json
yarn.lock
